body{
    background-color: #8f1ce0;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
}

#myCanvas{
    background-color: #810d72;
    display: block;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}